exercises/pyneng_common_functions.py
exercises/README.md
exercises/01_intro/01_exercises.md
exercises/02_git_github/02_exercises.md
exercises/03_start/03_exercises.md
exercises/04_data_structures/task_4_1.py
exercises/04_data_structures/task_4_2.py
exercises/04_data_structures/task_4_3.py
exercises/04_data_structures/task_4_4.py
exercises/04_data_structures/task_4_5.py
exercises/04_data_structures/task_4_6.py
exercises/04_data_structures/task_4_7.py
exercises/04_data_structures/task_4_8.py
exercises/04_data_structures/test_task_4_1.py
exercises/04_data_structures/test_task_4_2.py
exercises/04_data_structures/test_task_4_3.py
exercises/04_data_structures/test_task_4_4.py
exercises/04_data_structures/test_task_4_5.py
exercises/04_data_structures/test_task_4_6.py
exercises/04_data_structures/test_task_4_7.py
exercises/04_data_structures/test_task_4_8.py
exercises/05_basic_scripts/task_5_1.py
exercises/05_basic_scripts/task_5_1a.py
exercises/05_basic_scripts/task_5_1b.py
exercises/05_basic_scripts/task_5_1c.py
exercises/05_basic_scripts/task_5_1d.py
exercises/05_basic_scripts/task_5_2.py
exercises/05_basic_scripts/task_5_2a.py
exercises/05_basic_scripts/task_5_3.py
exercises/05_basic_scripts/task_5_3a.py
exercises/05_basic_scripts/test_task_5_1.py
exercises/05_basic_scripts/test_task_5_1a.py
exercises/05_basic_scripts/test_task_5_1b.py
exercises/05_basic_scripts/test_task_5_1c.py
exercises/05_basic_scripts/test_task_5_1d.py
exercises/05_basic_scripts/test_task_5_2.py
exercises/05_basic_scripts/test_task_5_2a.py
exercises/05_basic_scripts/test_task_5_3.py
exercises/05_basic_scripts/test_task_5_3a.py
exercises/06_control_structures/pytest.ini
exercises/06_control_structures/task_6_1.py
exercises/06_control_structures/task_6_2.py
exercises/06_control_structures/task_6_2a.py
exercises/06_control_structures/task_6_2b.py
exercises/06_control_structures/task_6_3.py
exercises/06_control_structures/test_task_6_1.py
exercises/06_control_structures/test_task_6_2.py
exercises/06_control_structures/test_task_6_2a.py
exercises/06_control_structures/test_task_6_2b.py
exercises/06_control_structures/test_task_6_3.py
exercises/07_files/CAM_table.txt
exercises/07_files/config_sw1.txt
exercises/07_files/ospf.txt
exercises/07_files/pytest.ini
exercises/07_files/task_7_1.py
exercises/07_files/task_7_2.py
exercises/07_files/task_7_2a.py
exercises/07_files/task_7_2b.py
exercises/07_files/task_7_3.py
exercises/07_files/task_7_3a.py
exercises/07_files/task_7_3b.py
exercises/07_files/test_task_7_1.py
exercises/07_files/test_task_7_2.py
exercises/07_files/test_task_7_2a.py
exercises/07_files/test_task_7_2b.py
exercises/07_files/test_task_7_3.py
exercises/07_files/test_task_7_3a.py
exercises/07_files/test_task_7_3b.py
exercises/09_functions/config_r1.txt
exercises/09_functions/config_sw1.txt
exercises/09_functions/config_sw2.txt
exercises/09_functions/task_9_1.py
exercises/09_functions/task_9_1a.py
exercises/09_functions/task_9_2.py
exercises/09_functions/task_9_2a.py
exercises/09_functions/task_9_3.py
exercises/09_functions/task_9_3a.py
exercises/09_functions/task_9_4.py
exercises/09_functions/test_task_9_1.py
exercises/09_functions/test_task_9_1a.py
exercises/09_functions/test_task_9_2.py
exercises/09_functions/test_task_9_2a.py
exercises/09_functions/test_task_9_3.py
exercises/09_functions/test_task_9_3a.py
exercises/09_functions/test_task_9_4.py
exercises/11_modules/draw_network_graph.py
exercises/11_modules/sh_cdp_n_r1.txt
exercises/11_modules/sh_cdp_n_r2.txt
exercises/11_modules/sh_cdp_n_r3.txt
exercises/11_modules/sh_cdp_n_sw1.txt
exercises/11_modules/task_11_1.py
exercises/11_modules/task_11_2.py
exercises/11_modules/task_11_2a_topology.png
exercises/11_modules/task_11_2a_topology.svg
exercises/11_modules/task_11_2a.py
exercises/11_modules/test_task_11_1.py
exercises/11_modules/test_task_11_2.py
exercises/11_modules/test_task_11_2a.py
exercises/12_useful_modules/task_12_1.py
exercises/12_useful_modules/task_12_2.py
exercises/12_useful_modules/task_12_3.py
exercises/12_useful_modules/test_task_12_1.py
exercises/12_useful_modules/test_task_12_2.py
exercises/12_useful_modules/test_task_12_3.py
exercises/15_module_re/cisco_nat_config.txt
exercises/15_module_re/config_r1.txt
exercises/15_module_re/config_r2.txt
exercises/15_module_re/config_r3.txt
exercises/15_module_re/pytest.ini
exercises/15_module_re/sh_cdp_n_sw1.txt
exercises/15_module_re/sh_ip_int_br_2.txt
exercises/15_module_re/sh_ip_int_br.txt
exercises/15_module_re/task_15_1.py
exercises/15_module_re/task_15_1a.py
exercises/15_module_re/task_15_1b.py
exercises/15_module_re/task_15_2.py
exercises/15_module_re/task_15_3.py
exercises/15_module_re/task_15_4.py
exercises/15_module_re/task_15_5.py
exercises/15_module_re/test_task_15_1.py
exercises/15_module_re/test_task_15_1a.py
exercises/15_module_re/test_task_15_1b.py
exercises/15_module_re/test_task_15_2.py
exercises/15_module_re/test_task_15_3.py
exercises/15_module_re/test_task_15_4.py
exercises/15_module_re/test_task_15_5.py
exercises/17_serialization/draw_network_graph.py
exercises/17_serialization/mail_log.csv
exercises/17_serialization/pytest.ini
exercises/17_serialization/sh_cdp_n_r1.txt
exercises/17_serialization/sh_cdp_n_r2.txt
exercises/17_serialization/sh_cdp_n_r3.txt
exercises/17_serialization/sh_cdp_n_r4.txt
exercises/17_serialization/sh_cdp_n_r5.txt
exercises/17_serialization/sh_cdp_n_r6.txt
exercises/17_serialization/sh_cdp_n_sw1.txt
exercises/17_serialization/sh_version_r1.txt
exercises/17_serialization/sh_version_r2.txt
exercises/17_serialization/sh_version_r3.txt
exercises/17_serialization/sw1_dhcp_snooping.txt
exercises/17_serialization/sw2_dhcp_snooping.txt
exercises/17_serialization/sw3_dhcp_snooping.txt
exercises/17_serialization/task_17_1.py
exercises/17_serialization/task_17_2.py
exercises/17_serialization/task_17_3.py
exercises/17_serialization/task_17_3a.py
exercises/17_serialization/task_17_3b_topology.png
exercises/17_serialization/task_17_3b_topology.svg
exercises/17_serialization/task_17_3b.py
exercises/17_serialization/task_17_4.py
exercises/17_serialization/test_task_17_1.py
exercises/17_serialization/test_task_17_2.py
exercises/17_serialization/test_task_17_3.py
exercises/17_serialization/test_task_17_3a.py
exercises/17_serialization/test_task_17_3b.py
exercises/17_serialization/test_task_17_4.py
exercises/17_serialization/topology.yaml
exercises/18_ssh_telnet/conftest.py
exercises/18_ssh_telnet/devices.yaml
exercises/18_ssh_telnet/pytest.ini
exercises/18_ssh_telnet/task_18_1.py
exercises/18_ssh_telnet/task_18_1a.py
exercises/18_ssh_telnet/task_18_1b.py
exercises/18_ssh_telnet/task_18_2.py
exercises/18_ssh_telnet/task_18_2a.py
exercises/18_ssh_telnet/task_18_2b.py
exercises/18_ssh_telnet/task_18_2c.py
exercises/18_ssh_telnet/task_18_3.py
exercises/18_ssh_telnet/test_task_18_1.py
exercises/18_ssh_telnet/test_task_18_1a.py
exercises/18_ssh_telnet/test_task_18_1b.py
exercises/18_ssh_telnet/test_task_18_2.py
exercises/18_ssh_telnet/test_task_18_2a.py
exercises/18_ssh_telnet/test_task_18_2b.py
exercises/18_ssh_telnet/test_task_18_2c.py
exercises/18_ssh_telnet/test_task_18_3.py
exercises/19_concurrent_connections/conftest.py
exercises/19_concurrent_connections/devices.yaml
exercises/19_concurrent_connections/task_19_1.py
exercises/19_concurrent_connections/task_19_2.py
exercises/19_concurrent_connections/task_19_3.py
exercises/19_concurrent_connections/task_19_3a.py
exercises/19_concurrent_connections/task_19_4.py
exercises/19_concurrent_connections/test_task_19_1.py
exercises/19_concurrent_connections/test_task_19_2.py
exercises/19_concurrent_connections/test_task_19_3.py
exercises/19_concurrent_connections/test_task_19_3a.py
exercises/19_concurrent_connections/test_task_19_4.py
exercises/20_jinja2/cisco_ospf.txt
exercises/20_jinja2/cisco_vpn_1.txt
exercises/20_jinja2/cisco_vpn_2.txt
exercises/20_jinja2/config_r1.txt
exercises/20_jinja2/conftest.py
exercises/20_jinja2/devices.yaml
exercises/20_jinja2/task_20_1.py
exercises/20_jinja2/task_20_2.py
exercises/20_jinja2/task_20_3.py
exercises/20_jinja2/task_20_4.py
exercises/20_jinja2/task_20_5.py
exercises/20_jinja2/task_20_5a.py
exercises/20_jinja2/test_task_20_1.py
exercises/20_jinja2/test_task_20_2.py
exercises/20_jinja2/test_task_20_3.py
exercises/20_jinja2/test_task_20_4.py
exercises/20_jinja2/test_task_20_5.py
exercises/20_jinja2/test_task_20_5a.py
exercises/20_jinja2/data_files/add_vlan_to_switch.yaml
exercises/20_jinja2/data_files/for.json
exercises/20_jinja2/data_files/for.yml
exercises/20_jinja2/data_files/ospf.yml
exercises/20_jinja2/data_files/ospf2.yml
exercises/20_jinja2/data_files/ospf3.yml
exercises/20_jinja2/data_files/router_info.yml
exercises/20_jinja2/templates/alias.txt
exercises/20_jinja2/templates/cisco_base.txt
exercises/20_jinja2/templates/eem_int_desc.txt
exercises/20_jinja2/templates/for.txt
exercises/21_textfsm/conftest.py
exercises/21_textfsm/devices.yaml
exercises/21_textfsm/task_21_1.py
exercises/21_textfsm/task_21_1a.py
exercises/21_textfsm/task_21_2.py
exercises/21_textfsm/task_21_3.py
exercises/21_textfsm/task_21_4.py
exercises/21_textfsm/task_21_5.py
exercises/21_textfsm/test_task_21_1.py
exercises/21_textfsm/test_task_21_1a.py
exercises/21_textfsm/test_task_21_2.py
exercises/21_textfsm/test_task_21_3.py
exercises/21_textfsm/test_task_21_4.py
exercises/21_textfsm/test_task_21_5.py
exercises/21_textfsm/output/sh_cdp_n_det.txt
exercises/21_textfsm/output/sh_clock.txt
exercises/21_textfsm/output/sh_ip_dhcp_snooping.txt
exercises/21_textfsm/output/sh_ip_int_br.txt
exercises/21_textfsm/output/sh_ip_route_ospf.txt
exercises/21_textfsm/output/sh_version.txt
exercises/21_textfsm/templates/index
exercises/21_textfsm/templates/sh_cdp_n_det.template
exercises/21_textfsm/templates/sh_clock.template
exercises/21_textfsm/templates/sh_ip_int_br.template
exercises/21_textfsm/templates/sh_ip_route_ospf.template
exercises/21_textfsm/templates/sh_version.template
exercises/22_oop_basics/conftest.py
exercises/22_oop_basics/devices.yaml
exercises/22_oop_basics/draw_network_graph.py
exercises/22_oop_basics/task_22_1.py
exercises/22_oop_basics/task_22_1a.py
exercises/22_oop_basics/task_22_1b.py
exercises/22_oop_basics/task_22_1c.py
exercises/22_oop_basics/task_22_1d.py
exercises/22_oop_basics/task_22_2.py
exercises/22_oop_basics/task_22_2a.py
exercises/22_oop_basics/task_22_2b.py
exercises/22_oop_basics/task_22_2c.py
exercises/22_oop_basics/test_task_22_1.py
exercises/22_oop_basics/test_task_22_1a.py
exercises/22_oop_basics/test_task_22_1b.py
exercises/22_oop_basics/test_task_22_1c.py
exercises/22_oop_basics/test_task_22_1d.py
exercises/22_oop_basics/test_task_22_2.py
exercises/22_oop_basics/test_task_22_2a.py
exercises/22_oop_basics/test_task_22_2b.py
exercises/22_oop_basics/test_task_22_2c.py
exercises/22_oop_basics/templates/index
exercises/22_oop_basics/templates/sh_cdp_n_det.template
exercises/22_oop_basics/templates/sh_clock.template
exercises/22_oop_basics/templates/sh_int_desc.template
exercises/22_oop_basics/templates/sh_ip_int_br.template
exercises/22_oop_basics/templates/sh_ip_route_ospf.template
exercises/22_oop_basics/templates/sh_version.template
exercises/23_oop_special_methods/conftest.py
exercises/23_oop_special_methods/devices.yaml
exercises/23_oop_special_methods/task_23_1.py
exercises/23_oop_special_methods/task_23_1a.py
exercises/23_oop_special_methods/task_23_2.py
exercises/23_oop_special_methods/task_23_3.py
exercises/23_oop_special_methods/task_23_3a.py
exercises/23_oop_special_methods/test_task_23_1.py
exercises/23_oop_special_methods/test_task_23_1a.py
exercises/23_oop_special_methods/test_task_23_2.py
exercises/23_oop_special_methods/test_task_23_3.py
exercises/23_oop_special_methods/test_task_23_3a.py
exercises/24_oop_inheritance/base_connect_class.py
exercises/24_oop_inheritance/conftest.py
exercises/24_oop_inheritance/devices.yaml
exercises/24_oop_inheritance/task_24_1.py
exercises/24_oop_inheritance/task_24_1a.py
exercises/24_oop_inheritance/task_24_2.py
exercises/24_oop_inheritance/task_24_2a.py
exercises/24_oop_inheritance/task_24_2b.py
exercises/24_oop_inheritance/task_24_2c.py
exercises/24_oop_inheritance/task_24_2d.py
exercises/24_oop_inheritance/test_task_24_1.py
exercises/24_oop_inheritance/test_task_24_1a.py
exercises/24_oop_inheritance/test_task_24_2.py
exercises/24_oop_inheritance/test_task_24_2a.py
exercises/24_oop_inheritance/test_task_24_2b.py
exercises/24_oop_inheritance/test_task_24_2c.py
exercises/24_oop_inheritance/test_task_24_2d.py
exercises/25_db/task_25_1/dhcp_snooping_schema.sql
exercises/25_db/task_25_1/sw1_dhcp_snooping.txt
exercises/25_db/task_25_1/sw2_dhcp_snooping.txt
exercises/25_db/task_25_1/sw3_dhcp_snooping.txt
exercises/25_db/task_25_1/switches.yml
exercises/25_db/task_25_1/task_25_1.py
exercises/25_db/task_25_2/task_25_2.py
exercises/25_db/task_25_3/dhcp_snooping_schema.sql
exercises/25_db/task_25_3/sw1_dhcp_snooping.txt
exercises/25_db/task_25_3/sw2_dhcp_snooping.txt
exercises/25_db/task_25_3/sw3_dhcp_snooping.txt
exercises/25_db/task_25_3/switches.yml
exercises/25_db/task_25_3/task_25_3.py
exercises/25_db/task_25_3/new_data/sw1_dhcp_snooping.txt
exercises/25_db/task_25_3/new_data/sw2_dhcp_snooping.txt
exercises/25_db/task_25_3/new_data/sw3_dhcp_snooping.txt
exercises/25_db/task_25_4/task_25_4.py
exercises/25_db/task_25_5/dhcp_snooping_schema.sql
exercises/25_db/task_25_5/sw1_dhcp_snooping.txt
exercises/25_db/task_25_5/sw2_dhcp_snooping.txt
exercises/25_db/task_25_5/sw3_dhcp_snooping.txt
exercises/25_db/task_25_5/switches.yml
exercises/25_db/task_25_5/task_25_5.py
exercises/25_db/task_25_5/new_data/sw1_dhcp_snooping.txt
exercises/25_db/task_25_5/new_data/sw2_dhcp_snooping.txt
exercises/25_db/task_25_5/new_data/sw3_dhcp_snooping.txt
exercises/25_db/task_25_5a/sw1_dhcp_snooping.txt
exercises/25_db/task_25_5a/sw2_dhcp_snooping.txt
exercises/25_db/task_25_5a/sw3_dhcp_snooping.txt
exercises/25_db/task_25_5a/switches.yml
exercises/25_db/task_25_5a/task_25_5a.py
exercises/25_db/task_25_5a/new_data/sw1_dhcp_snooping.txt
exercises/25_db/task_25_5a/new_data/sw2_dhcp_snooping.txt
exercises/25_db/task_25_5a/new_data/sw3_dhcp_snooping.txt
exercises/25_db/task_25_6/parse_dhcp_snooping.py
exercises/25_db/task_25_6/sw1_dhcp_snooping.txt
exercises/25_db/task_25_6/sw2_dhcp_snooping.txt
exercises/25_db/task_25_6/sw3_dhcp_snooping.txt
exercises/25_db/task_25_6/switches.yml
exercises/25_db/task_25_6/task_25_6.py
